conn_schema_default=<schema_name>
table_001=<table_name>
val_control_order = <'str','str','str','str'>
val_records_length = <int>
#Salida de archivo para reporte de errores
err_repo_path = <path>
output_file_name_001 = <name.csv>
sep = ,
header = True