# Archivo de ejemplo de configuración de variables de entorno (conn.env.sample)
# Copia este archivo como 'conn.env' y reemplaza los valores según sea necesario.

# Configuración de conexión JDBC a Oracle con balanceo de carga y failover
CONN_OPTIONS={"url":"jdbc:oracle:thin:@(DESCRIPTION=(LOAD_BALANCE=on)(FAILOVER=on)(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=<HOST_1>)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=<HOST_2>)(PORT=1521))(ADDRESS=(PROTOCOL=TCP)(HOST=<HOST_3>)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=<SERVICE_NAME>)(SERVER=DEDICATED))(FAILOVER_MODE=(TYPE=session)(METHOD=basic)(RETRIES=10)(DELAY=5)))","driver":"oracle.jdbc.driver.OracleDriver", "fetchSize": "20000", "numPartitions": "100", "queryTimeout": "0", "connectRetryCount": "10", "connectRetryInterval": "5"}

# Opciones adicionales para la conexión JDBC
CONN_ADITIONAL_OPTIONS={"batchsize": "20000", "sessionInitStatement": "BEGIN execute immediate \"ALTER SESSION ENABLE PARALLEL DML\"; END;"}

# Instrucciones:
# 1. Reemplaza <HOST_1>, <HOST_2>, <HOST_3> con las direcciones IP o nombres de host de los servidores de Oracle.
# 2. Sustituye <SERVICE_NAME> con el nombre del servicio de la base de datos.
# 3. Guarda este archivo como 'conn.env' antes de ejecutar la aplicación.
