# Archivo de ejemplo de configuración de variables de entorno (services.env.sample)
# Copia este archivo como 'services.env' y reemplaza los valores según sea necesario.

# URL para notificación de validación de archivos
WEBHOOK_URL_VAL_STR=https://api.dev.profuturo.mx/afore/1/nci-bdnsarintegrationprocess/file-loading/validation-completion-notification-event

# URL para notificación de carga de archivos
WEBHOOK_URL_CARG_ARCH=https://api.dev.profuturo.mx/afore/1/nci-bdnsarintegrationprocess/file-loading/loading-completion-notification-event

# URL para notificación de integración de contenido
WEBHOOK_URL_INTR_CONT=https://api.dev.profuturo.mx/afore/1/nci-bdnsarintegrationprocess/substages-orchestration/substages/notify

# URL para notificación de validación de contenido
WEBHOOK_URL_VAL_CONT=https://api.dev.profuturo.mx/afore/1/nci-bdnsarintegrationprocess/file-loading/content-validation-notification-event

# URL por defecto para notificaciones
WEBHOOK_URL_DEFAULT=https://api.dev.profuturo.mx/afore/1/nci-bdnsarintegrationprocess/substages-orchestration/substages/notify

# Alcance de notificaciones en el sistema de autenticación
SCOPE_NOTIFICATIONS=https://api.dev.profuturo.mx/oauth2/token

# Instrucciones:
# 1. Reemplaza las URL con los valores reales si es necesario.
# 2. Guarda este archivo como 'services.env' antes de ejecutar la aplicación.
# 3. No subas el archivo 'services.env' al repositorio, usa este archivo como plantilla.
